body{
    margin:0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f7fe;
}
.notifiedground::-webkit-scrollbar {
    background-color:white;
    width:1px;
  }
.notifiedground::-webkit-scrollbar-thumb {
    background-color:gold;
    border-radius:10px;
  }
  .notiexpand::-webkit-scrollbar {
    background-color:white;
    width:1px;
  }
.notiexpand::-webkit-scrollbar-thumb {
    background-color:gold;
    border-radius:10px;
  }
  .hover\:bg-f4f7fe:hover {
    background-color: #f4f7fe;
  }
  