.container{
    position: absolute;
}
.quiz-wrapper {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .navbar {
    position: fixed;
    top: 0;
    left:50px;
  }
  .quiz-container {
    margin-bottom:0; width:70rem;
    background-color: #fff;
    margin-left: 25rem;    
    padding: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  